@charset:"UTF-8";
:root{
  --Nutmeg:hsl(14, 45%, 36%);
  --DarkRaspberry:hsl(332, 51%, 32%);
  --RoseWhite:hsl(330, 100%, 98%);
  --Eggshell:hsl(31.1,52.9%,90%);
  --LightGrey:hsl(30, 18%, 87%);
  --WengeBrown:hsl(30, 10%, 34%);
  --DarkCharcoal:hsl(24, 5%, 18%)
}
@font-face{
  font-family:Outfit-Variable;
  src:url(../fontes/outfit/Outfit-Variable.ttf);
}
@font-face{
  font-family:YoungRegular;
  src:url(../fontes/young-serif/YoungSerif-Regular.ttf);
}
*{
  margin:0px;
  padding:0px;
}
body{
  background-color:hsl(31.1,52.9%,90%);
  display:flex;
  align-items:center;
  justify-content:center;
  width:100vw;
  text-align:justify;
}
h1, h2{
  font-family:YoungRegular;
  font-weight:normal;
}
h2{
  margin-left:10px;
}
p,li,strong{
  font-family:Outfit-Variable,Arial;
}
p,li{
  color:var(--WengeBrown);
}
.pai{
  background-color:white;
  margin:auto;
  min-width:300px;
  max-width:700px;
  height:100%;
  border-radius:10px;
}
header>img{   
  background-image: url(../image/image-omelette.jpeg);
  background-size:
  cover;
  background-position: center center;
  background-repeat: no-repeat;
  width:100%;
}
header h1{
  font-family:YoungRegular;
  text-indent:1.5;
  margin:35px 20px 25px 30px;
}
header p{
  color:var(--WengeBrown);
  font-family:Outfit-Variable;
  margin:0 30px ;
}
.preparation{
  background-color:var(--RoseWhite);
  margin:30px;
  padding:23px 23px 10px 23px;
  border-radius:8px;
}
.preparation h2{
  color:var(--DarkRaspberry);
  margin-bottom:17px;
  font-family:Outfit-Variable;
  margin-left:30px;
  font-weight:bold;
  font-size:20px;
}
.preparation li{
  margin-left:45px;
}
article ul li{
  margin-left:20px;
  padding-left:25px;
}
article ol li{
  margin-left:20px;
  padding-left:25px;
}
strong{
  color:var(--WengeBrown);
}
h2:not(.preparation>h2){
  color:var(--Nutmeg);
  margin:20px 0px 25px 0px;
}
li{
  margin-bottom:15px;
}
article:not(.preparation){
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:var(--LightGrey);
  padding-left:30px;
  margin:0px 20px;
}
aside{
  margin-left:20px;
  margin-right:20px;
  padding-left:30px;
  margin-bottom:10px;
  border-radius:8px;
  display:block;
  padding-top:30px;
}
aside>p{
  margin-bottom:20px;
  margin-right:20px;
}
aside>ul{
  list-style-type:none;
  columns:2;
  margin-top:30px;
}
.nutricao li:not(.fat){
  height:35px;
  border-bottom:1px solid var(--LightGrey);
  width:100%;
}
.medidas, #medidas{
  color:var(--Nutmeg);
  margin-left:-20px;
}
@media screen and (min-width:750px){
  .pai{
    margin-top:55px;
    margin-bottom:60px;
    border-radius:10px;
    padding-right:60px;
  }
  img{
    margin-top:40px;
    margin-left:40px;
    margin-right:20px;
  }
}